<div class="search-area">
  <div
    class="search-area__input"
  >
    <mat-form-field
      [ngStyle.gt-sm]="{
        width: '720px'
      }"
      appearance="outline"
      #search_input
    >
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        type="text"
        placeholder="Найдите продукт или блюдо"
        [(ngModel)]="query"
        autocomplete="off"
      >
      <button
        *ngIf="query"
        mat-icon-button
        matSuffix
        aria-label="Clear"
        (click)="query=''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="search-area__container-results">
    <div
      class="search-area__results"
      *ngIf="query.trim().length > 0"
      #search_results
      (window:resize)="changeWidthWindow()"
    >
      <div
        *ngFor="let product of this.products | searchProduct:query"
      >
        <div class="result-area">
          <div>
            <div>
              {{product.productName}}
            </div>
            <div class="result-area__energy">
              <small>К: {{product.caloriesPerHundredGrams}}</small>
              <small>Б: {{product.proteinsPerHundredGrams}}</small>
              <small>Ж: {{product.fatsPerHundredGrams}}</small>
              <small>У: {{product.carbohydratesPerHundredGrams}}</small>
            </div>
          </div>
          <button mat-mini-fab>
            <mat-icon>
              add
            </mat-icon>
          </button>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
