<div class="products-page">
  <p-toolbar>
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Добавить"
        icon="pi pi-plus"
        class="p-button-raised"
      ></button>
    </ng-template>
  </p-toolbar>
  <app-search-input></app-search-input>
  <div fxShow fxHide.gt-sm *ngFor="let product of products; let i = index, let even = even">
    <div *ngIf="even" class="row-products">
      <div *ngIf="product" class="column-products">
        <app-product-card-twin [product]="products[i]"></app-product-card-twin>
      </div>
      <div *ngIf="i < products.length - 1" class="column-products">
        <app-product-card-twin [product]="products[i+1]"></app-product-card-twin>
      </div>
    </div>

  </div>
  <p-table
    responsiveLayout="stack" breakpoint="959px"
    [value]="products"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>№</th>
        <th>Продукт</th>
        <th>Калории</th>
        <th>Белки</th>
        <th>Жиры</th>
        <th>Углеводы</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr>
        <td fxHide.lt-md>{{rowIndex + 1}}</td>
        <td fxHide.lt-md>{{product.productName}}</td>
        <td fxHide.lt-md>{{product.caloriesPerHundredGrams}}</td>
        <td fxHide.lt-md>{{product.proteinsPerHundredGrams}}</td>
        <td fxHide.lt-md>{{product.fatsPerHundredGrams}}</td>
        <td fxHide.lt-md>{{product.carbohydratesPerHundredGrams}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
