<div></div>

<table>
  <thead>
  <tr>
    <th>пн</th>
    <th>вт</th>
    <th>ср</th>
    <th>чт</th>
    <th>пт</th>
    <th>сб</th>
    <th>вс</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let week of calendar">
    <td
      *ngFor="let day of week.days"
      [class.disabled]="day.disabled"
      (click)="select(day.value)"
    >
      <span
        [class.selected]="day.selected"
        [class.active]="day.active"
      >
        {{day.value | moment: 'DD'}}</span>
    </td>
  </tr>
  </tbody>
</table>
