.container {
  min-height: 100vh;
}

.container-content {
  max-width: 1100px;
  margin: auto;
}

.mat-sidenav-container {
  min-height: 100vh;

  .mat-sidenav {
    width: 60%;
  }

  .mat-sidenav-content {
    min-height: 100vh;
  }
}

.menu {
  &__list {
    margin: 100px 8px 0 16px;
    list-style-type: none;
    padding: 0;
  }

  &__link {
    margin: 34px 0 34px 0;
    font-weight: bold;

    a {
      color: black;
      text-decoration: none;
    }
  }

  &__button {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    background-color: lightgray;
    position: absolute;
    bottom: 60px;
    right: 0;
    transform: translateX(50%);
    transition: border .35s, opacity .35s;

    button {
      mat-icon {
        transition: opacity .35s;
      }
    }
  }

  &__title {
    margin: 0 !important;
  }
}

.nav__item {
  padding-right: 16px;
}

li {
  a {
    align-items: center;
    display: flex;

    mat-icon {
      margin-right: 24px;
    }
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(255, 255, 255, 0.8);
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}
