<ng-template dynamicModalLoader></ng-template>
<div>
  <div>
    <button
      mat-raised-button
      (click)="showModal()"
    >
      addProduct
    </button>
    <button
      class="add-button"
      mat-raised-button
      (click)="testClick()"
    >
      addDish
    </button>
  </div>
  <div>
    <ul>
      <li *ngFor="let product of products">
        {{product.productName}}
      </li>
    </ul>
  </div>

  <!--  <app-modal-create-product-->
  <!--    *ngIf="modal"-->
  <!--    title="Modal window"-->
  <!--    (close)="modal = false"-->
  <!--  ></app-modal-create-product>-->
</div>
